
<div class="o_control_panel o_breadcrumb_full">
    <ol class="breadcrumb">
        <li class="active">Tài khoản ngân hàng</li>
    </ol>
    <div class="o_cp_left">
        <div class="o_cp_buttons">
            <div class="o_form_buttons_view">
                <button type="button" class="btn btn-primary btn-sm" ng-click="vm.create()">Thêm</button>
            </div>
        </div>
    </div>
    <div class="o_cp_right">
    </div>
</div>

<div kendo-grid="vm.grid" k-options="vm.gridOptions"></div>
