
<div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="vm.cancel()">×</button>
    <h4 class="modal-title">{{vm.modalCtx.title}}<span class="o_subtitle text-muted small"></span></h4>
</div>

<div class="modal-body o_act_window">
    <div class="o_form_view o_form_nosheet o_form_editable" kendo-validator="vm.validator">
        <div class="o_group">
            <table class="o_group o_inner_group o_group_col_6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Tên ngân hàng
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            <input class="form-control o_form_required" type="text" ng-model="vm.model.Name">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help">
                                Mã ngân hàng
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            <input class="form-control o_form_required" type="text" ng-model="vm.model.BIC">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="o_group o_inner_group o_group_col_6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label">
                                Hiệu lực
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            <div class="o_checkbox o_form_field_boolean o_form_field">
                                <input type="checkbox" ng-model="vm.model.Active">
                                <span></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">Lưu</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="vm.cancel()">Đóng</button>
</div>

