<div class="o_control_panel o_breadcrumb_full">
    <ol class="breadcrumb">
        <li><a ui-sref="app.irmodelaccess.list">Accesses</a></li>
        <li class="active" ng-show="vm.id">{{vm.model.Name}}</li>
        <li class="active" ng-hide="vm.id">Thêm</li>
    </ol>
    <div class="o_cp_left">
        <div class="o_form_buttons">
            <button accesskey="s" class="btn btn-primary btn-sm o_form_button_save" type="button" ng-click="vm.on_button_save()">
                Lưu
            </button>
            <button accesskey="c" class="btn btn-primary btn-sm o_form_button_save" type="button" ng-click="vm.on_button_save_and_new()">
                Lưu và thêm mới
            </button>
        </div>
    </div>
    <div class="o_cp_right">
    </div>
</div>

<div class="o_form_view o_form_editable" kendo-validator="vm.validator">
    <div class="o_form_sheet_bg">
        <div class="o_form_sheet">
            <div class="oe_title">
                <label class="o_form_label">
                    Name
                </label>
                <h1>
                    <input class="form-control o_form_required" type="text" ng-model="vm.model.Name">
                </h1>
            </div>
            <div class="o_group">
                <table class="o_group o_inner_group o_group_col_6">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">
                                    Đối tượng
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <select kendo-combo-box
                                        k-ng-model="vm.model.Model"
                                        name="vm.model.Model"
                                        k-data-text-field="'Name'"
                                        k-data-value-field="'Id'"
                                        k-filter="'contains'"
                                        k-auto-bind="false"
                                        k-min-length="1"
                                        k-data-source="vm.irModelDataSource"
                                        required validationMessage="Chọn model"
                                        style="width: 100%"></select>
                                <span class="k-invalid-msg" data-for="vm.model.Model"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">
                                    Quyền
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="vm.model.PermRead" value="true"> Xem
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="vm.model.PermCreate" value="true"> Thêm
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="vm.model.PermWrite" value="true"> Sửa
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="vm.model.PermUnlink" value="true"> Xóa
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="o_group o_inner_group o_group_col_6">
                    <tbody>
                        <tr>
                            <td colspan="1" class="o_td_label">
                                <label class="o_form_label">
                                    Nhóm
                                </label>
                            </td>
                            <td colspan="1" style="width: 100%;">
                                <select kendo-combo-box
                                        k-ng-model="vm.model.Group"
                                        k-data-text-field="'Name'"
                                        k-data-value-field="'Id'"
                                        k-filter="'contains'"
                                        k-auto-bind="false"
                                        k-min-length="1"
                                        k-data-source="vm.resGroupDataSource"
                                        style="width: 100%"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

