
<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3 text-black">
        <a ui-sref="app.irmodel.list">IR Model</a> - Thêm
    </h1>
</div>

<div class="wrapper-md ng-scope">
    <div class="m-b">
        <button type="button" ng-click="vm.save()" class="btn btn-danger">Lưu</button>
    </div>

    <div>
        @Html.Partial("_Form")
    </div>
</div>