<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="generator" content="nopCommerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/libs/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/libs/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/libs/jquery-ui/i18n/datepicker-vi.js"></script>
    <script src="~/Content/libs/autoNumeric/autoNumeric.js"></script>
    <script src="~/Content/libs/sprintf.js"></script>
    <script type="text/javascript">
        var options = $.extend(
            {},                                  // empty object
            $.datepicker.regional["fr"],         // fr regional
        );
        $.datepicker.setDefaults(options);
    </script>
</head>
<body>
    @RenderBody()
 
    <script src="~/Content/libs/popper.min.js"></script>
    <script src="~/Content/libs/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
