<div class="header mt-3">
    <div class="row">
        <div class="col-md-5">
            <div class="logo">
                <a href="/">
                    <img src="~/Content/images/logo.png" />
                </a>
            </div>
        </div>
        <div class="col-md-7">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
