
<div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="vm.cancel()">×</button>
    <h4 class="modal-title">Quy định<span class="o_subtitle text-muted small"></span></h4>
</div>

<div class="modal-body o_act_window">
    <div class="o_form_view o_form_nosheet o_form_editable" kendo-validator="vm.validator">
        <h1><span class="o_form_field">{{vm.model.Name}}</span></h1>
        <div class="o_group">
            <table class="o_group o_inner_group o_group_col_6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help" data-original-title="" title="">
                                Áp dụng trên
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            <select class="form-control" ng-model="vm.model.GiaiDanh">
                                <option value="all">Tất cả các giải</option>
                                <option value="8">Giải 8</option>
                                <option value="7">Giải 7</option>
                                <option value="0">Giải ĐB</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label o_form_label_help" data-original-title="" title="">
                                Vị trí đánh
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            <select class="form-control" ng-model="vm.model.ViTriDanh">
                                <option value="chu_so_cuoi">Chữ số cuối</option>
                                <option value="hang_chuc">Hàng chục</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="o_group o_inner_group o_group_col_6">
                <tbody>
                    <tr>
                        <td colspan="1" class="o_td_label">
                            <label class="o_form_label">
                                Số lượng
                            </label>
                        </td>
                        <td colspan="1" style="width: 100%;">
                            <input kendo-numeric-text-box focus-select-all-text k-min="0" k-decimals="0" k-format="'n0'" k-ng-model="vm.model.SoLuongDanh" name="vm.model.SoLuongDanh" required validationMessage="Nhập số lượng" style="width: 100%;" />
                            <span class="k-invalid-msg" data-for="vm.model.SoLuongDanh"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">Lưu</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="vm.saveAndCreate()" ng-show="vm.item == null">Lưu và thêm mới</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="vm.cancel()">Đóng</button>
</div>

