@*<div id="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <h4>Thông tin</h4>
                <ul>
                    <li>
                        <a href="/gioi-thieu.html">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="/trach-nhiem.html">Trách nhiệm</a>
                    </li>
                    <li>
                        <a href="/huong-dan-dat-cuoc.html">Hướng dẫn đặt cược</a>
                    </li>
                    <li>
                        <a href="/huong-dan-nap-tien.html">Hướng dẫn nạp tiền</a>
                    </li>
                    <li>
                        <a href="/huong-dan-rut-tien.html">Hướng dẫn rút tiền</a>
                    </li>
                    <li>
                        <a href="/lien-he.html">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6">
                <h4>Hỗ trợ</h4>
                <ul>
                    <li>
                        <p>Hỗ trợ : 0905491825</p>
                    </li>
                    <li>
                        <p>Zalo: 0905491825</p>
                    </li>
                    <li>
                        <p>Viber: 0905491825</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <h4>LÔ ĐỀ MIỀN BẮC</h4>
                        <ul>
                            <li>
                                <a href="/mien-bac/danh-lo.html">Đánh lô</a>
                            </li>
                            <li>
                                <a href="/mien-bac/3-cang.html">3 càng</a>
                            </li>
                            <li>
                                <a href="/mien-bac/lo-xien.html">Lô Xiên</a>
                            </li>
                            <li>
                                <a href="/mien-bac/danh-de.html">Đánh đề</a>
                            </li>
                            <li>
                                <a href="/mien-bac/dau-duoi.html">Đầu đuôi</a>
                            </li>
                            <li>
                                <a href="/mien-bac/lo-truot.html">Lô trượt</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <h4>LÔ ĐỀ MIỀN TRUNG</h4>
                        <ul>
                            <li>
                                <a href="/mien-trung/danh-lo.html">Đánh lô</a>
                            </li>
                            <li>
                                <a href="/mien-trung/3-cang.html">3 càng</a>
                            </li>
                            <li>
                                <a href="/mien-trung/xien.html">Xiên</a>
                            </li>
                            <li>
                                <a href="/mien-trung/danh-de.html">Đánh đề</a>
                            </li>
                            <li>
                                <a href="/mien-trung/dau-duoi.html">Đầu đuôi</a>
                            </li>
                            <li>
                                <a href="/mien-trung/lo-truot.html">Lô trượt</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <h4>LÔ ĐỀ MIỀN NAM</h4>
                        <ul>
                            <li>
                                <a href="/mien-nam/bao-lo.html">Bao Lô</a>
                            </li>
                            <li>
                                <a href="/mien-nam/xiu-chu.html">Xỉu chủ</a>
                            </li>
                            <li>
                                <a href="/mien-nam/da.html">Đá</a>
                            </li>
                            <li>
                                <a href="/mien-nam/danh-de.html">Đánh đề</a>
                            </li>
                            <li>
                                <a href="/mien-nam/so-cuoi.html">Số cuối</a>
                            </li>
                            <li>
                                <a href="/mien-nam/lo-truot.html">Lô trượt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12"> &copy;2018 Lode. All Rights Reserved </div>
            <div class="col-md-5 col-sm-6 col-xs-12 text-center">
                <a href="/chinh-sach-bao-mat.html">Chính sách bảo mật</a> |
                <a href="/quy-dinh-su-dung.html">Quy định sử dụng</a> |
                <a href="/tro-giup.html">Trợ giúp</a>

                @*<ul class="list-inline csmenu">
                    <li>

                        |
                    </li>
                    <li>
                        <a href="/quy-dinh-su-dung.html">Quy định sử dụng</a>
                        |
                    </li>
                    <li>
                        <a href="/tro-giup.html">Trợ giúp</a>
                    </li>
                </ul>*@
            </div>
            
        </div>
    </div>
</footer>
<link href="~/Content/lode/style.css" rel="stylesheet" />
