<!-- list -->
<ul class="nav">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="glyphicon glyphicon-home"></i>
            <span>Tổng quan</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.daixs.list">
            <i class="glyphicon glyphicon-tag"></i>
            <span>Đài xổ số</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.lodecategory.list">
            <i class="glyphicon glyphicon-tag"></i>
            <span>Nhóm lô đề</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.loaidecategory.list">
            <i class="glyphicon glyphicon-tag"></i>
            <span>Nhóm loại đề</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.loaide.list">
            <i class="glyphicon glyphicon-tag"></i>
            <span>Loại đề</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.kqxs.list">
            <i class="glyphicon glyphicon-tag"></i>
            <span>Kết quả xổ số</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.danhde.list">
            <i class="glyphicon glyphicon-tag"></i>
            <span>Biên đề</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.accountpayment.naptien">
            <i class="glyphicon glyphicon-tag"></i>
            <span>Khách hàng nạp tiền</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.accountpayment.ruttien">
            <i class="glyphicon glyphicon-tag"></i>
            <span>Khách hàng rút tiền</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a  href="/Admin/TinTuc">
            <i class="glyphicon glyphicon-tag"></i>
            <span>Tin tức</span>
        </a>
    </li>
</ul>
<!-- / list -->
